
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
		<title>Real-time test</title>

		<!--<script src="/socket.io/socket.io.js"></script>-->

     <div id="app">
      <p>{{ message }}</p>
     </div>
     

     <div id="app-2">
      <p>{{ message }}</p>
       <button v-on:click="submit">submit</button>
     </div>
     
     <div id="app-5">
       <p>{{ message }}</p>
       <input v-model="id"><br/>
       <input v-model="name"><br/><br/>
        <!--<p>{{ message }}</p>-->
        
        <button v-on:click="submit">submit</button>
    </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <script src="MyClient.js"></script>
    
</head>

	<body>

		<h1>hello world</h1>

    
	
    
	<!--<form method = "GET" name="theForm" id="theForm">
    <input type="submit" value="click here for change" />
  </form>
  <form method = "POST" name="theForm" id="theForm">
            Name: <input type="text" name="message" id="message" /><br/>
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Submit" />
        </form>-->
	</body>
